<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- Where all the menu items get appended -->
<!-- created in menu.js -->
<section class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <h4>Hello</h4>
        </div>
        <div class = "col-md-3" id = "menu">
            <h4>World</h4>
        </div>
    </div>
</section>



<!-- this is my menu dom -->



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



</body>
</html>

