<html lang="en">
<head>
<style>
  img{
    height: 100px;
  }
  #friends{
    display: none;
  }
</style>
    <meta charset="UTF-8">
    <title></title>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">

</head>
<body>

<!-- Where all the menu items get appended -->
<!-- created in menu.js -->

<section class = "container-fluid">
    <div class = "row" id = "menu_container">


<!--         friend list -->
        <div class = "col-md-3" id = "friend_container">
          <div id = "friend_list">
            <h4>Who are you with?</h4>
            <h3>Friends</h3>
          </div>
        </div>

        <div id = "chosen_friends" class = "col-md-3">
          <div id = "friends_input">
            <input placeholder = "Add Friends Here" id = "add_friends"></input>
            <button id = "add_friend_button">Add</button>
          </div>
        </div>

        <div class = "col-md-3" id = "purchased_container">
            <h4>Purchased Items</h4>
            <h3>List</h3>
            <div id = "purchased_items"></div>
              <input id = "added_item" placeholder = "Item">
              <input id = "price_item" placeholder = "Price">
              <input id = "quantity_item" placeholder = "Quantity">
              <button id = "submit_item"></button>
            <div>
              <p id = "warning"></p>
            </div>
            <h3 id = "total_amount">$0</h3>
            <button id = "calc_button">Calculate</button>
        </div>

        <div class = "col-md-3" id = "menu">
            <h4>Menu Items</h4>
        </div>

    </div>
</section>



<!-- this is my menu dom -->



<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src = "javascripts/menu.js"></script>


</body>
</html>

