<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>

  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">

</head>

<!-- Where all the menu items get appended -->
<!-- created in menu.js -->
<body>
<section class = "container-fluid">
    <div id = "menu_container">


    <section>
      <div class = 'row' id = "header">
        <a href = "/" class = "col-md-2 col-md-offset-5"><h1>Splittr</h1></a>
        <form class = "col-md-1 col-md-offset-4" action = "logout" method = "POST" id = "logout_form">
            <button id="logout_button">Logout</button>
        </form>
      </div>
    </section>