/*colors
#362939 black
#876E6E grey
#53B8A5 teal
#C2DED4 light green
#D3CFD0 light grey*/

body{
	color: #362939;
	font-family: 'Oxygen', sans-serif;
}

#header a{
	color: white;
	text-decoration: none;
}

#header h1{
	width: 150px;
	margin-top: 14px;
	border: 4px solid #53B8A5;
	border-top: 4px solid #C2DED4;
	border-left: 4px solid #C2DED4;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
	margin-left: 25px;
}

#header{
	background-color: #362939;
	height: 110px;
	margin-bottom: 15px;

}

#logout_button{
	background-color: #362939;
	border: 0;
	color: white;
	font-size: 20px;
	margin-top: 70px
}

#button_div_header{
	width: 300px;
}

#logout_form{
	width: 50px;
}


/*Main page*/

.scrollbar {
    overflow: auto;
    width: 250px;
    height: 600px;
	border: 5px solid #53B8A5;
    border-left: 5px solid #C2DED4;
    border-top: 5px solid #C2DED4;
	padding: 0;
}

.scrollbar  img{
    height: 150px;
  }


.friend_card{
	background-color: white;
	padding-bottom: 30px;
	border-bottom: 4px solid #C2DED4;
}

.friend_header{
	background-color: #53B8A5;
	color: white;
	margin-bottom: 30px;

}

.friend_header h3{
	padding-bottom: 25px;
}

#friends_container{
	margin-left: 100px;
	background-color: #53B8A5;
}

#user_info img{
	height: 300px;
	border-radius: 20px;
	border: 5px solid #53B8A5;
	border-left: 5px solid #C2DED4;
    border-top: 5px solid #C2DED4;
}

#user_info h3{
	color: #53B8A5;
}

input{
	text-align: center;
}

#receipt_box{
	background-color: #53B8A5;

}


#receipt_box a, #receipt_box a:hover{
	text-decoration: none;
	color: #362939;
}


/*override issues with bootstrap horizontal scroll*/
#receipt_box .row{
	margin-right: 0;
	margin-left: 0;
}

.receipt_header{
	background-color: #53B8A5;
}

.receipt_header h3{
	/*padding: 5px 0 20px 0;*/
	color: white;
}

.receipt_card{
	background-color: white;
	border-bottom: 4px solid #C2DED4;
	width: 100%;
}



.receipt_card:hover{
	border: 4px solid black;

}

.receipt_card p{
	/*padding: 5px 0 10px 0;*/

}


/*loginpage*/

.input_header{
	background-color: #53B8A5;
	height: 70px;
	padding-top: 4px;
}

.input_header h3{
	color: white;
	margin-left: 25px;
}


.box_outline{
	border: 1px solid #D3CFD0;
	padding: 20px;
	margin-bottom: 30px;
}

.box_outline label{
	color: #876E6E;
}



.login_button{
	background-color: #C2DED4;
	color: #876E6E;
	margin-top: 15px;
}


/*!!!!!!!!!!!!!*/
/*MENU PAGE*/
/*!!!!!!!!!!*/


/*friends*/
#friend_list{

}

#friend_container img{
	width: 150px;
}

/*chosen friends*/

.chosen_friends_scrollbar{
	overflow: auto;
    width: 100%;
    height: 400px;
/*    border-radius: 20px;*/
    border: 5px solid #53B8A5;
    border-left: 5px solid #C2DED4;
    border-top: 5px solid #C2DED4;
}

#chosen_friends{
	margin-bottom: 10px;
}

#friends_chosen_container img{
	width: 200px;
}

#calc_container{
	background-color: #362939;
	padding: 10px 20px 10px 20px;
}

#calc_container h4{
	color: white;
/*	height: 50px;*/
}

#friends_input{
	margin-bottom: 20px;
}


/*menu*/
#menu{
	background-color: #362939;
}

.menu_scrollbar{
    overflow: auto;
    width: 100%;
    height: 600px;
/*    border-radius: 20px;*/
    border: 5px solid #53B8A5;
    border-left: 5px solid #C2DED4;
    border-top: 5px solid #C2DED4;	
}

.section_name{
	background-color: #362939;
	height: 100px;

}

.section_name h3{
	color: white;
	font-size: 2em;
	padding-top: 15px;

}

.menu_card{
	background-color: #C2DED4;
	padding: 3px;
	border-bottom: 4px solid #53B8A5;
}

.menu_card h5{
}
.menu_card h6{
}

.menu_card p{

}


/*chosen items*/

.purchased_scrollbar{
	overflow: auto;
    width: 100%;
    height: 400px;
/*    border-radius: 20px;*/
    border: 5px solid #53B8A5;
    border-left: 5px solid #C2DED4;
    border-top: 5px solid #C2DED4;	
}

.purchase_card{
	background-color: #53B8A5;
	padding: 10px;
	border-bottom: 4px solid #C2DED4;
}

.add_button{
	background-color: #C2DED4;
	color: #876E6E;
	width: 30px;
	padding: 5px;
}

.sub_button{
	background-color: #C2DED4;
	color: #876E6E;
	width: 30px;
	padding: 5px;
}

.remove_button{
	background-color: #C2DED4;
	color: #876E6E;
	padding: 5px;
}

/*divide up page*/
#total_header{

}

.total_container{

}

.total_container h2{

}

.final_card{
	background-color: #C2DED4;
	padding: 20px;
	border-bottom: 3px solid #53B8A5;
/*	border-right: 3px solid #53B8A5;
*/
}

.final_card img{
	height: 60px;
}



/*the last page*/

#final_page{
	display: none;
	background-color: white;
	overflow: visible;
	padding: 0;

}

.user_card{
	background-color: #C2DED4;
	padding: 30px;
	border: 2px solid #53B8A5;
	margin-bottom: 30px;
}

.user_card img{
	height: 150px;
}




/*footer*/

